{{!-- <p> below is a test of whether there is date in post --}}
<p>likes, {{posts}} {{data}} </p>
{{#if posts.length}}
    <ol class="post-list">
        {{#each posts as |post|}}
            {{#if (check_if_equal category data)}}
                <li>
                    {{> post-info post}}
                </li>
            {{/if}}
        {{/each}}
    </ol>
{{/if}}