<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coding Bootcamp Survival Guide</title>
    <link href="https://fonts.googleapis.com/css2?family=Handlee&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Neucha&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bad+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">

</head>

<body>
    <div class="wrapper">
        <header>

            <nav>
                {{!-- 14.3.7 we are checking for loggedIn in the main layout, but we're only passing loggedIn to the
                single-post.handlebars
                template. Fortunately, variables that are passed to view templates are automatically passed to the main
                layout. --}}
                {{!-- <a href="/">home</a> --}}
                {{#if loggedIn}}
                    {{#if isAdmin}}
                        <a href="/dashboard/admin">dashboard</a>
                        {{else}}
                            <a href="/dashboard">dashboard</a>
                    {{/if}}
                {{/if}}
                <a href="/category/1">pick a camp</a>
                <a href="/category/2">pre-course prep</a>
                <a href="/category/3">tools</a>
                <a href="/category/4">front-end</a>
                <a href="/category/5">back-end</a>
                <a href="/category/6">self-care</a>
                {{#unless loggedIn}}
                <a href="/login">login</a>
                {{/unless}}
                {{#if loggedIn}}
                <button id="logout" class="btn-no-style">logout</button>
                {{/if}}
            </nav>
            <div class="title-wrapper">
            <h1>
                <a href="/">Coding Bootcamp Survival Guide</a>
            </h1>
            </div>
        </header>
        <main>
            {{{ body }}}
        </main>
        <footer>
            <button class="toggle-dark-light">Dark/Light</button>
        </footer>
    </div>

    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    <script src="/javascript/dark-mode.js"></script>
    {{/if}}
</body>

</html>