<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coding Bootcamp Survival Guide</title>
    <link href="https://fonts.googleapis.com/css2?family=Handlee&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Neucha&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bad+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">

</head>

<body>
    <div class="wrapper bg-indigo-200">
        <header>

            <nav>
                {{#if loggedIn}}
                    {{#if isAdmin}}
                        <a href="/dashboard/admin">dashboard</a>
                        {{else}}
                            <a href="/dashboard">dashboard</a>
                    {{/if}}
                {{/if}}
                <a href="/category/pick-camp">pick a camp</a>
                <a href="/category/pre-course">pre-course prep</a>
                <a href="/category/tools">tools</a>
                <a href="/category/frontend">front-end</a>
                <a href="/category/backend">back-end</a>
                <a href="/category/self-care">self-care</a>
                <a href="/category/finish-line">finish-line</a>
                {{#unless loggedIn}}
                <a href="/login">login</a>
                {{/unless}}
                {{#if loggedIn}}
                <button id="logout" class="btn-no-style">logout</button>
                {{/if}}
            </nav>
            <div class="title-wrapper">
            <h1>
                <a href="/">Coding Bootcamp Survival Guide</a>
            </h1>
            </div>
        </header>
        <main>
            {{{ body }}}
        </main>
        <footer>
            <button class="toggle-dark-light">Dark/Light</button>
        </footer>
    </div>

    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    <script src="/javascript/dark-mode.js"></script>
    {{/if}}
</body>

</html>