{{#unless isAdmin}}

{{#if cat1Likes.length}}
<p class="text-gray-200 text-4xl text-left gloria_font font-black md:px-16 mt-2 px-4 leading-relaxed">Picking a Camp</p>
  <div class="container mb-12 mt-2 mx-auto px-4 md:px-12  ">
    <div class="flex flex-wrap  md:-mx-4">
    {{#each cat1Likes as |likedPost|}}
      <div class="mx-4 py-4 md:mx-0 md:py-0 w-full md:w-1/2 md:my-4 md:px-4 lg:w-1/3">
        {{> post-info likedPost}}
      </div>
    {{/each}}
    </div>
  </div>
{{/if}}

{{#if cat2Likes.length}}
  <p class="text-gray-200 text-4xl text-left gloria_font font-black md:px-16 mt-2 px-4 leading-relaxed">Pre-Course Prep</p>
  <div class="container mb-12 mt-2 mx-auto px-4 md:px-12  ">
    <div class="flex flex-wrap  md:-mx-4">
    {{#each cat2Likes as |likedPost|}}
      <div class="mx-4 py-4 md:mx-0 md:py-0 w-full md:w-1/2 md:my-4 md:px-4 lg:w-1/3">
        {{> post-info likedPost}}
      </div>
    {{/each}}
    </div>
  </div>
{{/if}}

{{#if cat3Likes.length}}
<p class="text-gray-200 text-4xl text-left gloria_font font-black md:px-16 mt-2 px-4 leading-relaxed">Tools &amp; Cheatsheets</p>
  <div class="container mb-12 mt-2 mx-auto px-4 md:px-12  ">
    <div class="flex flex-wrap  md:-mx-4">
    {{#each cat3Likes as |likedPost|}}
      <div class="mx-4 py-4 md:mx-0 md:py-0 w-full md:w-1/2 md:my-4 md:px-4 lg:w-1/3">
        {{> post-info likedPost}}
      </div>
    {{/each}}
    </div>
  </div>
{{/if}}

{{#if cat4Likes.length}}
<p class="text-gray-200 text-4xl text-left gloria_font font-black md:px-16 mt-2 px-4 leading-relaxed">Front-End Design</p>
  <div class="container mb-12 mt-2 mx-auto px-4 md:px-12  ">
    <div class="flex flex-wrap  md:-mx-4">
    {{#each cat4Likes as |likedPost|}}
      <div class="mx-4 py-4 md:mx-0 md:py-0 w-full md:w-1/2 md:my-4 md:px-4 lg:w-1/3">
        {{> post-info likedPost}}
      </div>
    {{/each}}
    </div>
  </div>
{{/if}}

{{#if cat5Likes.length}}
<p class="text-gray-200 text-4xl text-left gloria_font font-black md:px-16 mt-2 px-4 leading-relaxed">Back-End Design</p>
  <div class="container mb-12 mt-2 mx-auto px-4 md:px-12  ">
    <div class="flex flex-wrap  md:-mx-4">
    {{#each cat5Likes as |likedPost|}}
      <div class="mx-4 py-4 md:mx-0 md:py-0 w-full md:w-1/2 md:my-4 md:px-4 lg:w-1/3">
        {{> post-info likedPost}}
      </div>
    {{/each}}
    </div>
  </div>
{{/if}}

{{#if cat6Likes.length}}
<p class="text-gray-200 text-4xl text-left gloria_font font-black md:px-16 mt-2 px-4 leading-relaxed">Self-Care</p>
  <div class="container mb-12 mt-2 mx-auto px-4 md:px-12  ">
    <div class="flex flex-wrap  md:-mx-4">
    {{#each cat6Likes as |likedPost|}}
      <div class="mx-4 py-4 md:mx-0 md:py-0 w-full md:w-1/2 md:my-4 md:px-4 lg:w-1/3">
        {{> post-info likedPost}}
      </div>
    {{/each}}
    </div>
  </div>
{{/if}}

{{#if cat7Likes.length}}
<p class="text-gray-200 text-4xl text-left gloria_font font-black md:px-16 mt-2 px-4 leading-relaxed">Finish-Line!</p>
  <div class="container mb-12 mt-2 mx-auto px-4 md:px-12  ">
    <div class="flex flex-wrap  md:-mx-4">
    {{#each cat7Likes as |likedPost|}}
      <div class="mx-4 py-4 md:mx-0 md:py-0 w-full md:w-1/2 md:my-4 md:px-4 lg:w-1/3">
        {{> post-info likedPost}}
      </div>
    {{/each}}
    </div>
  </div>
{{/if}}

{{/unless}}

<script> document.title = "Dashboard" </script>