{{#if isAdmin}}
  
  {{!-- <section>
    <a href="/dashboard/new"><h2 class="post-new"></h2>Create a New Post</h2></a>
  </section> --}}
  <div class="px-4 md:px-20 p-4">
    <button class="bg-gray-500 hover:bg-gray-400 text-white font-bold py-2 px-4 border-b-4 border-gray-700 hover:border-gray-500 rounded" 
      onclick="location.href='/dashboard/new'">
      Create a New Post
    </button>
  </div>

  <div class="container my-12 mx-auto px-4 md:px-12 ">
    <div class="flex flex-wrap -mx-1 lg:-mx-4">

      {{#if posts.length}}
        {{#each posts as |post|}}
        <div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3">
          {{> post-info post}}
          {{!-- <a class="edit-link" href="/dashboard/edit/{{post.id}}" >Edit post</a>  --}}
            <div class="px-4 p-4">
              <button class="bg-gray-500 hover:bg-gray-400 text-white font-bold py-2 px-4 border-b-4 border-gray-700 hover:border-gray-500 rounded" 
                onclick="location.href='/dashboard/edit/{{post.id}}'">
                Edit Post
              </button>
            </div>

        </div>
        {{/each}}
      {{/if}}

    </div>
  </div>

{{/if}}
