{{#unless isAdmin}}
<section>

  <h2>Your Saved Posts</h2>
  {{#if votes.length}}

    {{!--checking for category 1 (tools)  --}}
    {{#if (check_for_category votes 1)}}
      {{#each votes as |vote|}}
        {{#if (check_if_equal vote.post.category 1)}}
          <h3>Tools</h3>
          <ol class="vote-list">
            <li>
              {{> post-info vote.post}}
            </li>
          </ol>
        {{/if}}
      {{/each}}
    {{/if}}

    {{!--checking for category 2 (frontend)  --}}
    {{#if (check_for_category votes 2)}}
      {{#each votes as |vote|}}
        {{#if (check_if_equal vote.post.category 2)}}
          <h3>Front-End</h3>
          <ol class="vote-list">
            <li>
              {{> post-info vote.post}}
            </li>
          </ol>
        {{/if}}
      {{/each}}
    {{/if}}

    {{!--checking for category 3 (backend)  --}}
    {{#if (check_for_category votes 3)}}
      {{#each votes as |vote|}}
        {{#if (check_if_equal vote.post.category 3)}}
          <h3>Back-End</h3>
          <ol class="vote-list">
            <li>
              {{> post-info vote.post}}
            </li>
          </ol>
        {{/if}}
      {{/each}}
    {{/if}}

    {{!--checking for category 4 (backend)  --}}
    {{#if (check_for_category votes 4)}}
      {{#each votes as |vote|}}
        {{#if (check_if_equal vote.post.category 4)}}
          <h3>Back-End</h3>
          <ol class="vote-list">
            <li>
              {{> post-info vote.post}}
            </li>
          </ol>
        {{/if}}
      {{/each}}
    {{/if}}


  {{/if}}
</section>
{{/unless}}
