{{#unless isAdmin}}
  <section>

  <h2>Your Saved Posts</h2>
  <p>{{users.likes.length}}</p>
  {{#each users}}
    {{#if likes.length}}

      {{!--  would like to send the array likes through and the category=1 --}}
      {{!-- {{> like-post likes data=1}} --}}


      {{!--checking for category 1 (picking)  --}}
      {{#if (check_for_category likes 1)}}
        {{#each likes as |like|}}
          {{#if (check_if_equal like.post.category 1)}}
            <h3>Picking a Bootcamp</h3>
            <ol class="like-list">
              <li>
                {{> post-info like.post}}
              </li>
            </ol>
          {{/if}}
        {{/each}}
      {{/if}}

      {{!--checking for category 2 (precourse)  --}}
      {{#if (check_for_category likes 2)}}
        {{#each likes as |like|}}
          {{#if (check_if_equal like.post.category 2)}}
            <h3>Pre-Course Work</h3>
            <ol class="like-list">
              <li>
                {{> post-info like.post}}
              </li>
            </ol>
          {{/if}}
        {{/each}}
      {{/if}}

      {{!--checking for category 3 (tools)  --}}
      {{#if (check_for_category likes 3)}}
        {{#each likes as |like|}}
          {{#if (check_if_equal like.post.category 3)}}
            <h3>CheatSheets &amp; Tools</h3>
            <ol class="like-list">
              <li>
                {{> post-info like.post}}
              </li>
            </ol>
          {{/if}}
        {{/each}}
      {{/if}}

      {{!--checking for category 4 (frontend)  --}}
      {{#if (check_for_category likes 4)}}
        {{#each likes as |like|}}
          {{#if (check_if_equal like.post.category 4)}}
            <h3>Front-End</h3>
            <ol class="like-list">
              <li>
                {{> post-info like.post}}
              </li>
            </ol>
          {{/if}}
        {{/each}}
      {{/if}}

      {{!--checking for category 5 (backend)  --}}
      {{#if (check_for_category likes 5)}}
        {{#each likes as |like|}}
          {{#if (check_if_equal like.post.category 5)}}
            <h3>Back-End</h3>
            <ol class="like-list">
              <li>
                {{> post-info like.post}}
              </li>
            </ol>
          {{/if}}
        {{/each}}
      {{/if}}

      {{!--checking for category 6 (self-care)  --}}
      {{#if (check_for_category likes 6)}}
        {{#each likes as |like|}}
          {{#if (check_if_equal like.post.category 6)}}
            <h3>Self-Care</h3>
            <ol class="like-list">
              <li>
                {{> post-info like.post}}
              </li>
            </ol>
          {{/if}}
        {{/each}}
      {{/if}}

    {{/if}}
  {{/each}}
  </section>
{{/unless}}
