{{!-- USED BY controllers/home-routes.js --}}
<section class="home-page">
  <h1>This is the Home Page</h1>
  <p>There will be lots of content here</p>
</section>

{{#if loggedIn}}
  {{#if isAdmin}}
    <button class='goto-dashboard'  onClick="window.location='/dashboard/admin/'">My Admin Dashboard</button>
  {{else}}
    <button class='goto-dashboard' onClick="window.location='/dashboard/'">My Dashboard</button>
  {{/if}}
{{/if}}


<button class="goto-pick-camp"  onClick="window.location='/category/1'">Pick a Camp</button>
<button class="goto-pre-course" onClick="window.location='/category/2'">Pre-Course Prep</button>
<button class="goto-tools" onClick="window.location='/category/3'">Tools & Cheatsheets</button>
<button class="goto-frontend" onClick="window.location='/category/4'">Front End</button>
<button class="goto-backend" onClick="window.location='/category/5'">Back End</button>
<button class="goto-self-care" onClick="window.location='/category/6'">Self Care</button>
<button class="goto-finish-line" onClick="window.location='/category/7'">Finish Line</button>