{{!-- USED BY controllers/home-routes.js --}}
<div class="container my-12 mx-auto px-4 md:pr-12 w-full ">
<div class="flex flex-wrap w-full mx-auto">

{{!-- Login divs --}}
<div class="my-12 md:mt-0  w-full flex flex-flow lg:flex-row flex-col mx-auto">
    <!-- Column -->
    <div class="my-1 w-full max-w-xs py-6 lg:my-4  ">
      <p class="text-gray-200 text-4xl text-center md:text-right gloria_font font-black p-2 leading-relaxed">Login</p>
    </div>
    <!-- END Column -->


    {{!-- <div> --}}
    <div class="flex flex-wrap w-full md:px-20  mx-auto ">
      <div class="mt-5 md:mt-0  w-full ">
        <form class="login-form  mx-auto" method="POST">
          <div class="overflow-hidden rounded-lg shadow-2xl bg-gray-800 text-gray-200  h-auto w-full">
            <div class="overflow-hidden rounded-lg shadow-2xl bg-gray-800 text-gray-200  h-auto w-full">

              <div class="flex flex-flow flex-col w-full p-4">
                <div class="">
                  <label for="email-login" class="block  text-gray-200 font-bold text-2xl raleway_font p-1 ">
                    Email
                  </label>
                  <div class="mx-1 mb-2 rounded-md shadow-sm">
                    <input type="text" name="email-login" id="email-login"
                      class="bg-gray-600 shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md text-gray-100 raleway_font md:text-lg p-2"
                      placeholder="name@email.com">
                  </div>
                </div>
              </div>
              <div class="flex flex-flow flex-col w-full p-4">
                <div class="">
                  <label for="password-login" class="block  text-gray-200 font-bold text-2xl raleway_font p-1 ">
                    Password
                  </label>
                  <div class="mt-1 flex rounded-md shadow-sm">
                    <input type="password" name="password-login" id="password-login"
                      class="bg-gray-600 shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md text-gray-100 raleway_font md:text-lg p-2"
                      placeholder="Enter Password">
                  </div>
                </div>
              </div>

              <div class="px-4 py-3 text-right sm:px-6">
                <button class ="btn inline-flex justify-center py-2 px-4 border border-transparent shadow-2xl text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" type="submit">
                  Login
                </button>
              </div>

            </div>
          </div>
        </form>
      </div>
    </div>
</div>



{{!-- Sign Up Divs --}}

<div class="m-12 md:mt-0  w-full flex flex-flow lg:flex-row flex-col mx-auto">

    <!-- Column -->
    <div class="my-1 w-full max-w-xs py-6 lg:my-4  ">
      <p class="text-gray-200 text-4xl text-center md:text-right gloria_font font-black  p-2 leading-relaxed">Sign Up</p>
    </div>
    <!-- END Column -->


    {{!-- <div> --}}
      <div class="flex flex-wrap w-full md:px-20  mx-auto ">
        <div class="mt-5 md:mt-0  w-full ">
          <form class="signup-form  mx-auto" method="POST">
            <div class="overflow-hidden rounded-lg shadow-2xl bg-gray-800 text-gray-200  h-auto w-full">
              <div class="overflow-hidden rounded-lg shadow-2xl bg-gray-800 text-gray-200  h-auto w-full">

                <div class="flex flex-flow flex-col w-full p-4">
                  <div class="">
                    <label for="username-signup" class="block  text-gray-200 font-bold text-2xl raleway_font p-1 ">
                      Username
                    </label>
                    <div class="mt-1 flex rounded-md shadow-sm">
                      <input type="text" name="username-signup" id="username-signup"
                        class="bg-gray-600 shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md text-gray-100 raleway_font md:text-lg p-2"
                        placeholder="My Name">
                    </div>
                  </div>
                </div>
                <div class="flex flex-flow flex-col w-full p-4">
                  <div class="">
                    <label for="bootcamp-signup" class="block  text-gray-200 font-bold text-2xl raleway_font p-1 ">
                      Coding Bootcamp
                    </label>
                    <div class="mt-1 flex rounded-md shadow-sm">
                      <input type="text" name="bootcamp-signup" id="bootcamp-signup"
                        class="bg-gray-600 shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md text-gray-100 raleway_font md:text-lg p-2"
                        placeholder="UofA Coding Bootcamp 2020-2021">
                    </div>
                  </div>
                </div>
                <div class="flex flex-flow flex-col w-full p-4">
                  <div class="">
                    <label for="email-signup" class="block  text-gray-200 font-bold text-2xl raleway_font p-1 ">
                      Email
                    </label>
                    <div class="mt-1 flex rounded-md shadow-sm">
                      <input type="text" name="email-signup" id="email-signup"
                        class="bg-gray-600 shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md text-gray-100 raleway_font md:text-lg p-2"
                        placeholder="name@email.com">
                    </div>
                  </div>
                </div>
                <div class="flex flex-flow flex-col w-full p-4">
                  <div class="">
                    <label for="password-signup" class="block  text-gray-200 font-bold text-2xl raleway_font p-1 ">
                      Password
                    </label>
                    <div class="mt-1">
                      <input type="password" name="password-signup" id="password-signup"
                        class="bg-gray-600 shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md text-gray-100 raleway_font md:text-lg p-2"
                        placeholder="Enter a Password">
                    </div>
                  </div>
                </div>

                <div class="px-4 py-3 text-right sm:px-6">
                  <button class ="btn inline-flex justify-center py-2 px-4 border border-transparent shadow-2xl text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" type="submit">
                    Sign Up
                  </button>
                </div>

              </div>
            </div>
          </form>
        </div>
      </div>
      </div>
      

  </div>
</div>

<script> document.title = 'Login' </script>
 {{!-- Remember to give the absolute path from the root, not the relative file path. --}}
<script src="/javascript/login.js"></script>

<script> document.title = ‘Login’ </script>
