<section>
    <h2>Self-Care</h2>
    {{!-- {{>category-post posts}} --}}
    {{#if posts.length}}
        <ol class="post-list">
            {{#each posts as |post|}}
                {{#if (check_if_equal category 6)}}
                    <li>
                        {{> post-info post}}
                    </li>
                {{/if}}
            {{/each}}
        </ol>
    {{/if}}
</section>