<section>
    <h2>Tools</h2>
    {{!-- {{> category-post posts }} --}}

    {{#if posts.length}}
        <ol class="post-list">
            {{#each posts as |post|}}
                {{#if (check_if_equal category 1)}}
                    <li>
                        {{> post-info post}}
                    </li>
                {{/if}}
            {{/each}}
        </ol>
    {{/if}}

</section>
