* {
    box-sizing: border-box;
  }
:root {
  --color-dk1: rgba(15, 12, 12, 0.568);
  --color-dk2: rgb(88, 86, 86);
  --color-lt1: rgb(248, 248, 241);
  --color-lt2: rgb(248, 248, 144);
  
}
  
body, html {
  height: 100%;
  width:100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-color: var(--color-dk2);
  color: var(--color-lt1);
}

.wrapper {
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9999;
  
  display: flex;
  flex-flow: row wrap;
  background-color:  var(--color-dk1);
  justify-content: left;
  align-items: left;
  padding: 0 1%;
  width: 100%;
  margin: 0;
}
  
nav {
  width: 100%;
}

nav a, nav button {
  margin-left: 16px;
  cursor: pointer;
  text-decoration: none;
  color: var(--color-lt1);
  font-weight: bold;
  transition: color .1s;
}
  
nav a:hover, nav button:hover {
  color: var(--color-lt2);
  text-shadow: var(--color-lt2);
  font-size: larger;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  text-decoration: none;
  font-size: 100%;
}

/* .btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: var(--color-lt1);
  font-size: 100%;
  font-weight: bold;
  transition: color .1s;
  margin-left: 16px;
}
  
.btn-no-style:hover {
  background: none;
  color: var(--color-lt1);
} */

.title-wrappper {
  width: 100%;
}
  
.title-wrapper h1 {
  font-size: 2em;
  margin: 16px;
  padding: 2px;
  border-radius: 5px;
  /* box-shadow: 10px 5px 5px var(--color-lt2); */
}
  
.title-wrapper h1 a {
  color: var(--color-lt2);
  text-decoration: none;
} 

.title-wrapper h1 a:hover {
  color: var(--color-lt1);
  text-shadow: var(--color-lt1);
  font-size: larger;
} 

main {
  flex: 1;
  padding: 2% 4%;
}
  
button {
  background-color: var(--color-lt2);
  border: 0;
  padding: 1%;
  color: var(--color-dk2);
  font-weight: bold;
  transition: background-color .1s;
  cursor: pointer;
  border-radius: 5px;
}
  
button:hover {
  color: var(--color-dk1);
}

.edit-post-form a, .meta a, .post-new a {
  text-decoration: none;
  color:  var(--color-lt2);
  font-weight: bold;
  transition: color .1s;
}
  
.edit-post-form a:hover, .meta a:hover, .post-new a:hover {
  color:var(--color-lt2);
}

.post-new a {
  padding: .5%;
  border-radius: 5px;
  border: 1px solid var(--color-lt1);
}

.post-new a:hover {
  border: 1px solid var(--color-lt1);
  box-shadow: 10px 5px 5px var(--color-lt2);
}
  
.edit-post-form a:hover, .meta a:hover, .post-new a:hover {
  color:var(--color-lt1);
}
  
.post-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
  
textarea, input {
  padding: .5%;
  border-radius: 5px;
  border: 1px solid var(--color-lt1);
  background-color: var(--color-lt1);
}
  
textarea:focus, input:focus {
  outline: none;
  border: 1px solid var(--color-lt1);
}

  
form > div {
  margin-bottom: 2%;
}
  
form label {
  display: block;
}

.delete-post-btn {
  background-color: var(--color-lt2);
}
  
.delete-post-btn:hover {
  background-color:   var(--color-lt2);
}
  
.post {
  margin-bottom: 2%;
  line-height: 150%;
  border:2px solid var(--color-lt1);
  border-radius: 5px;
}

.post .title h2 {
  background-color: var(--color-lt1);
  color: var(--color-dk1);
  padding: 4px;
  margin: 0;
}

.post .title h2 span {
  font-weight: normal;
  font-size: 80%;
}
  
.post .title p {
  font-style: italic;
  font-size: 90%;
  color:var(--color-lt1);
  margin: 4px;
}

.post-text {
  width: 100%;
  min-height: 250px;
}

.post .meta a {
  padding: 4px;
}

.title h2 a {
  text-decoration: none;
  color:  var(--color-dk1);
  transition: color .1s;
}
  
.title h2 a:hover {
  color: var(--color-dk2);
}
  
.edit-link {
  display: block;
  margin: -1.5% 0 2% 0;
  color: var(--color-lt1);
}
    
.comment-form {
  margin-bottom: 5%;
}
  
.comment-body {
  min-width: 40%;
  min-height: 100px;
}
.comment {
  padding: 1%;
  margin-bottom: 1%;
}
  
.comment:nth-child(odd) {
  background-color: #fff5eb;
}
  
.comment .meta {
  font-size: 90%;
  margin-bottom: .5%;
  opacity: .6;
}
  
.new-post-form input {
  width: 300px;
}
  
.edit-post-form {
  margin-bottom: 5%;
}
  
footer {
  border-top: 1px solid var(--color-lt2);
  display: flex;
  justify-content: center;
  padding: 1%;
  font-size: 110%;
}